*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: url("https://raw.githubusercontent.com/bocacode/node-api-json-coffees/main/coffee-beans-bk.webp");
  background-size: contain;
  background-position: center;
  background-repeat: repeat-y;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App>main>h1 {
  padding: 1.25rem;
}

.App>main>button {
  margin: 1.25rem;
  padding: 0.5rem;
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.menu-items__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0 1rem 0;
}

.menu-items__item>img {
  height: 20rem;
  width: 20rem;
  border-radius: 1em;
  object-fit: cover;
  margin-right: auto;
  margin-left: auto;
}

.menu-items__item>div {
  width: 55%;
  margin-right: auto;
  margin-left: auto;
}

.menu-items__item>div>h4 {
  margin-top: 1rem;
}

.menu-items__item>div>ul>li {
  list-style: none;
}